@charset "utf-8";
@font-face{
    font-family: 'glacial';
    font-weight: 400;
    src: url(../fonts/GlacialIndifference-Regular.otf) format("opentype");
}
@font-face{
    font-family: 'glacial';
    font-weight: 700;
    src: url(../fonts/GlacialIndifference-Bold.otf) format("opentype");
}
@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Roboto_300.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto_400.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Roboto_500.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Roboto_700.woff2) format('woff2');
}
body{
    background-color: #FFF;
}
.bd_clear{
    clear: both;
}
a:focus,
a:active{
    outline: none !important;
    text-decoration: none !important;
}
a:hover{
    text-decoration: none;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0px;
    z-index: 999; 
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;    
}
.logo{
    float: left;
}
.logo a img{
    max-width: 100%;
}
.nav_wrap{
    float: right;
    margin-top: 12px;
}
ul.navigation{
    margin: 0px;
    padding: 0px;
}
ul.navigation > li{
    float: left;
    list-style: none;
}
ul.navigation > li > a{
    display: inline-block;
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
ul.navigation > li > a:active,
ul.navigation > li > a:focus{
    color: #FFF;
}
ul.navigation > li > a:hover{
    color: #1897b7;
}
.shrink{
    background-color: rgba(0, 0, 0, 0.9);
}
.banner{
    background: url(../images/banner.jpg) no-repeat center;
    width: 100%;
    height: 633px;
}
.banner{
    position: relative;
}
.banner_caption{
    width: 100%; 
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin-bottom: 100px;
}
.cap_block{
    max-width: 480px;
}
.cap_block h2{
    font-family: 'glacial';
    font-size: 85px;
    font-weight: bold;
    color: #f8f8f8;
}
.cap_block p{
        font-size: 18px;
    color: #f2f0f0;
    font-weight: 300;
}
.raed_more a{
    display: inline-block;
    color: #1f9bd7;
    font-size: 18px;
    margin-bottom: 15px;
}
.store_lnk a{
    display: inline-block;
    width: 53px;
    height: 53px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 26px;
    text-align: center;
    border-radius: 50%;
    padding-top: 7px;
    color: #FFF;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin: 0px 5px;
}
.store_lnk a:active,
.store_lnk a:focus{
    color: #FFF;
}
.store_lnk a.android:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: #a5c63b;
}
.store_lnk a.apple:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: #aaaaaa;
}
.store_lnk a.windows:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: #00adef;
}
.free_wrap{
    padding: 50px 15px;
}
.free_img{
    text-align: center;
}
.free_img img{
    max-width: 100%;
    margin: 0 auto;
}
.free_text h3{
    font-size: 74px;
    font-weight: 300;
    color: #0061b0;
    text-transform: capitalize;
    margin-top: 0px;
}
.free_text p{
    color: #131313;
    font-size: 16px;
    font-weight: 300;
}
.desk_wrap{
    background-color: #1897b7;
    padding: 60px 0px;
}
.desk_text h3{
    color: #FFF;
    font-size: 74px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 20px;
}
.desk_text p{
    color: #f7f7f7;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
}
.desk_lnk a{
    display: inline-block;
    padding: 20px 30px;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 28px;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #1897b7;
}
.desk_lnk a:active,
.desk_lnk a:focus{
    color: #FFF;
}
.desk_lnk a:hover{
    color: #FFF;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.desk_img{
    text-align: center;
}
.desk_img img{
    max-width: 100%;
    margin: 0 auto;
}
.call_wrap{
    padding: 40px 15px;
    text-align: center;
}
.call_head{
    margin-bottom: 40px;
}
.call_head_inner{
    display: inline-block;
}
.call_head_inner h3{
    font-size: 35px;
    font-weight: 500;
    color: #000;
    margin-top: 0px;
    margin-bottom: 3px;
}
.call_head_lnk{
    text-align: right;
}
.call_head_lnk a{
    color: #0061b0;
    font-size: 18px;
    font-weight: 300l;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.call_head_lnk a:active,
.call_head_lnk a:focus{
    color: #0061b0;
}
.call_head_lnk a:hover{
    color: #1896b8;
}
.call_form{
    display: block;
    background-color: #046fc6;
    max-width: 900px;
    border-radius: 10px;
    padding: 40px 15px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.form_block{
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}
.form_block input[type="search"]{
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: none;
    background-color: #FFF;
    padding-right: 50px;
}
/*.form_block button{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    font-size: 21px;
    color: #dbdbd9;
}*/
.call_form p{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    margin: 25px 0px;
}
.get_call_lnk a{
    display: inline-block;
    padding: 10px 40px;
    color: #046fc6;
    background-color: #FFF;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 22px; 
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;   
}
.get_call_lnk a:active,
.get_call_lnk a:focus{
    color: #046fc6;
}
.get_call_lnk a:hover{
    color: #046fc6;
    /*background-color: #e3e4e5;*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.28);
}
.rate_pg_form{
	background-color: rgba(0, 0, 0, 0.75);
	padding: 15px;
	margin-bottom: 0px;
	margin-top: 200px;
	display: inline-block;
}
.rate_pg_form .form_block{
	float: left;
	margin-bottom: 0px;
}
.rate_pg_form .get_call_lnk{
	float: right;
	margin-left: 10px;
}
.rate_pg_form .get_call_lnk a{
	padding: 0px 10px;
	height: 40px;
	line-height: 40px;
	border-radius: 0px;
}
.rate_pg_form .form_block input[type="search"]{
	padding-right: 0px;
	min-width: 250px;
}

/*rate page */
.rates_banner{
	display:block;
	background:url(../images/rate_banner.jpg) no-repeat center;
	height:384px;	
}
.rate_list_part{
	background:#e2e6e9;
}
.head_rate{
	text-align:center;
	background:url(../images/row.png) no-repeat center;
}
.head_rate h3{
	display:inline-block;
	margin:0;
	padding:15px 20px;
	background:#e2e6e9;
}
.rate_warp{
	margin:0 auto;
	background:#0061b0;
	width:90%;
	color:#fff;
	padding:30px;
}
table{
	margin:0 auto;
}
.footer{
    background-color: #0061b0;
}
.footer_inner{
    background: url(../images/footer_bg.png) no-repeat bottom;
    background-attachment: fixed;
    padding-top: 30px;
}
.footer_text h2{
    font-family: 'glacial';
    font-weight: 700;
    color: #FFF;
    font-size: 85px;
    margin-bottom: 0px;
}
.footer_text p{
    color: #c7e7f6;
    margin-bottom: 0px;
    font-size: 30px;
    text-transform: uppercase;
}
.footer_text ul{
    margin-top: 20px;
    padding-left: 15px;
}
.footer_text ul li{
    color: #f8f8f8;
    font-size: 18px;
    font-weight: 300;
}
.copy_wrap{
    margin-top: 20px;
    padding: 10px 0px;
    border-top: 1px solid rgba(255, 255, 255, .5);
    color: #FFF;
}
.copy_rt{
    float: left;
}
.power{
    float: right;
}
.power a{
    display: inline-block;
    margin-left: 5px;
    vertical-align: super;
}
.nav_trigger{
    display: none;
    position: absolute;
    right: 15px;
    top: 30px;
    border: 1px solid #FFF;
    border-radius: 3px;
    text-align: center;
    width: 35px;
    height: 29px;
    color: #FFF;
    font-size: 21px;
    cursor: pointer;
}
.call_img img{
    max-width: 100%;
    margin: 0 auto;
}
.rate_warp a{
	color: #FFF;
	-o-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.rate_warp a:hover{
	text-decoration: none;
	color: #CCC;
}
form.login label{
	display: block;
	width: 100%;
}
form.login input{
	display: block;
	width: 100%;
	border: 1px solid #666;
	height: 34px;
	padding: 0px 15px;
}
.submit{
	margin-top: 15px;
}
.form_block{
	margin-bottom: 15px;
}
form.login input:focus{
	border: 1px solid #
}
p.msg_invalid{
	color: red;
	display: none;
}
p.msg_invalid.active{
	display: block;
}
.over_lay{
	position: fixed;
	z-index:9999999999;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background:rgba(0, 0, 0, 0.5) url(../images/ajax_loader.gif) center no-repeat;	
	display: none;
}
.support_det{
	margin: 15px 0px;
}
.support_det a{
	display: inline-block;
	-o-transition: all 0.2s ease-ot;
	-moz-transition: all 0.2s ease-ot;
	-webkit-transition: all 0.2s ease-ot;
	transition: all 0.2s ease-ot;
}
.support_det a:hover{
	text-decoration: none;
	color: #005368;
}
ul#live{
	position: absolute;
	z-index: 99;
	left: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: left;
	max-height: 300px;
	overflow-y: auto;
}
ul#live > li{
	list-style: none;
	background-color: #f9f9f9;
	border-bottom: 1px solid #CCC;
	padding: 5px 15px;
	cursor: pointer;
	-o-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
ul#live > li:hover{
	background-color: #CCC;
}
ul#live > li span{
	display: inline-block;
	margin-right: 10px; 
}
ul#live > li:last-child span{
	margin-right: 0px;
}
.cont_block{
	margin: 8px 0px;
}
.cont_block input[type="submit"]{
	display: inline-block;
	border: none;
	background-color: #1897b7;
	color: #FFF;
	padding: 10px 20px;
	border-radius: 3px;
	-o-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.cont_block input[type="submit"]:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}



/* Media queries */
@media only screen and (max-width: 767px){
    .nav_trigger{
        display: inline-block;
    }
    .logo{
        float: none;
        margin-bottom: 10px;
    }
    .nav_wrap{
        float: none;
        margin: 0px -15px;
    }
    ul.navigation{
        display: none;
    }
    ul.navigation > li{
        float: none;
    }
    ul.navigation > li > a{
        display: block;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 6px 15px;
    }
    ul.navigation > li:first-child > a{
        padding-top: 12px;
    }
    ul.navigation > li:last-child > a{
        padding-bottom: 12px;
    }
    .header{
        padding-bottom: 0px;
    }
    .free_text{
        margin-top: 30px;
        text-align: center;
    }
    .desk_text{
        text-align: center;
        margin-bottom: 30px;
    }
    .copy_rt{
        float: none;
        text-align: center;
        margin-bottom: 15px;
    }
    .power{
        float: none;
        text-align: center;
    }
    .rate_warp table td.country_code{
		max-width: 150px;
		word-break: break-all;
	}
	.rate_warp{
		width: 100%;
	}
}















































